@import "tailwindcss";

:root {
  /* Obsidian/Violet Theme */
  --background: #050505;
  /* 60% Base */
  --secondary: #1e293b;
  /* 30% Slate/Midnight (slate-800) */
  --accent: #7c3aed;
  /* 10% Electric Violet (violet-600) */

  --foreground: #ededed;
  --muted: #94a3b8;
}

@theme inline {
  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background-color: var(--accent);
  color: white;
}

html {
  scroll-behavior: smooth;
}