# Environments and caches
.venv/
__pycache__/
.pytest_cache/
*.pyc

# Local environment variables and secrets
.env

# Git
.git/
.github/

# Mac OS
.DS_Store

# IDEs
.vscode/
.idea/

# Testing
tests/
test_db.py
test_email.py

